<section class="hero-section">
  <div class="hero-container">
    <div class="hero-content">

      <label class="hero-label">Creative Digital Studio</label>

      <h1 class="hero-title">We design<br> digital experiences that <span class="title-accent"> connect.</span></h1>

      <p class="hero-description">A creative agency focused on building <br>brands and digital products that drive impact.</p>

      <button routerLink="/work" class="hero-button">VIEW OUR WORK   ➜</button>
    </div>
    <div class="card">
      <div class="card-item">Branding</div>
      <div class="card-item">Web Design</div>
      <div class="card-item">Strategy</div>
      <div class="card-item">Development</div>
      <div class="card-item">Launch</div>
    </div>
  </div>
</section>
