<section class="services-section">
  <div class="services-container">
    <div class="services-header">
      <div>
      <label class="services-label">OUR SERVICES</label>
      <h2 class="services-heading">What we do</h2>
      </div>
      <p class="service-description">We help brands and businesses create <br> meaningful connections through design, <br> technology and strategy.</p>
    </div>
    <div class="services-grid">
      <div class="service-card">
        <label>Branding</label>
        <p>Visual systems that help<br> businesses stand out.</p>
        <button class="card-button">➜</button>
      </div>
      <div class="service-card">
        <label>Web Design</label>
        <p>Responsive websites built <br>with clarity and purpose.</p>
        <button class="card-button">➜</button>
      </div>
      <div class="service-card">
        <label>Digital Strategy</label>
        <p>Creative direction and digital <br>planning for growth.</p>
        <button class="card-button">➜</button>
      </div>
    </div>
  </div>
</section>
